<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="Secret_Key" value="KNFKVNKFNKVFVFKDKFBFMBKFBMZKBMKFXBFB5FB8DB45DBB" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.101\DotnetTools\dotnet-watch\6.0.101-servicing.21569.16\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:65265/TenHelmets.Api.WebApi/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuOaPahRVFhCUEp86adpg3ga8I9xKN47WMJM/8lBKOH1R/3PB41OIYN1ZdVDc4JhTO1A0z7HVQqVkdJKQK1RfchlmA3EguDXGHdMHM7pxEBcgV4dFAOxz/Prhi1DSo1HFbqrAvZjkecJaT+Dge6Wavqyp18wHTXifeaCX259ZCQcipbbhnMLVkHrthPqPBSf27ixi0zqoRT2QCQO1Ff4RdDcSs5S7V7Uk3RcepMYIOC7XMm3RRBrl8lYv9eK4vP78xYV9EcC5nQOHT920cbWuoKrBVpUShWTDxsmJ7o9EYf7ux3OvFuVIiRVGsorGGzY6bv6vuAQpA+jIpbBCVrMyrQIDAQAB" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>